@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
font-family: "Roboto";
}
.navbar{
    background-color: #FFFAF5;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100px;
}
.appointment-btn{
    background-color: #F8943F;
    border: 1px solid #DE6F0D;
    padding: 10px 12px;
    color: #ffffff;
    border-radius: 22px;
    text-align: center;
    font-size: 15px;

}
.contact-btn{
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 8px 20px;
    color: #000000;
    border-radius: 30px;
    text-align: center;
    font-size: 15px;
    margin-left: 10px;
}
.home_desktop_page{
    width:65%;
}
.home_page{
    background-color: #FFFAF5;
    display: flex;
}
.headline{
    font-size: 20px;
    font-weight: 700;
    color: #303030;
}
.booking_form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  row-gap: 5px;
  border: 1px solid #FFE0C4;
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 15px;
}
input{
    background-color: #ffffff;
    border: 1px solid #FFE0C4;
    border-radius: 16px;
    padding: 10px;
    outline: none;
    width: 100%;
    font-size: 15px;

}
.captcha-container {
  display: flex;
  width: 100%;
  height: 40px;
  border: 1px solid #fcd9b6;
  border-radius: 50px;
  overflow: hidden;
}

.captcha-input {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 15px;
  outline: none;
  color: #666;
}

.captcha-value {
  background-color: #4a2611;
  color: white;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
}
.checkbox{
    display: flex;
    column-gap: 10px;
    margin: 10px 0px;
}
.consultation-btn{
    background-color: #F58420;
    color: #ffffff;
    outline: none;
    border: none;
    padding: 8px;
    border-radius: 16px;
}
.home_page_mobile{
    display: none;
}

.marquee-wrapper {
  width: 100%;
  overflow: hidden;
  background: #FFFAF5;
  padding: 10px 0;
}

.marquee-container{
    display: flex;
    justify-content: center;
    animation: marquee-scroll 18s linear infinite;
    align-items: center;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.marquee-data{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    column-gap: 2px;
}

.root_canal_container{
  padding: 50px;
  text-align: center;
}

.patient-review-container {
  padding: 50px;
  text-align: center;
}

.why-choose-section {
  padding: 50px;
  text-align: center;
}

.root_canal_data{
    display: flex; 
    background-color: #ffffff;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    width: fit-content;
    border-radius: 16px;
    border: 1px solid #fcd9b6;
    margin-right: 60px;

}
.root_canal_bio{
    padding: 15px;
    text-align: start;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.root_canal_img{
    height: 300px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.root_canal_cards{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.marquee-container-mobile {
    display: none;
}

.patient-images-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.patient-image-card {
  margin-right: 40px;
}

.patient-details {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.patient-location {
  color: #F58420;
  font-family: Figtree;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;

}

.patient-name {
  font-family: "Figtree";
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  color: #1A1A1A;
}

.why-choose-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.why-choose-fesilities {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-right: 50px;
}

.why-choose-description {
  font-family: Figtree;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-right: 150px;

}

.patient-treatment {
  color: #F58420;
  font-family: Figtree;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.patient-address {
  color: #777777;
  font-family: Figtree;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.plus-logo {
  color: #EA7D28;
  width: 16px;
  height: 16px;
  font-size: 20px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0%;

}
.booking-appointment1 {
  background-color: #FFF9F4;
  padding: 50px;
  text-align: center;
  margin: 50px;
  border-radius: 20px;
  
}

.booking-appointment2 {
  display: none;
}

.form-container {
  display: flex;
  flex-direction: row;
}

.booking-appointment-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: end;
  column-gap: 10px;
  margin-top: 40px;
}

.why-choose-card-details {
  order: 1;
}
.why-choose-card-image {
  order: 2;
}

@media (max-width: 768px) {

  .patient-images-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
  }
  .root_canal_cards {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
  }
  .home_page {
    display: flex;
    flex-direction: column;
  }

  .home_desktop_page {
    display: none;
  }

  .home_page_mobile {
    display: block;
    width: 100%;
  }

  .booking-appointment1 {
    display: none;
  }

  .appointment-btn {
    display: none;
  }

  .booking-appointment2 {
    display: block;
    padding: 10px;
  }

  .why-choose-container,
  .booking-appointment-checkbox {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .root_canal_data {
    flex-direction: column;
  }


  .why-choose-card-details {
    order: 2;
    padding-top: 20px;
  }
  .why-choose-card-image {
    order: 1;
    width: 100%;
  }
  .form-container {
    display: flex;
    flex-direction: column;
  }
}
.appointment-btn img,
.contact-btn img {
    vertical-align: middle;
}

.appointment-btn:hover,
.contact-btn:hover,
.Consultation-btn:hover {
    transform: translateY(-2px);
    opacity: 0.92;
    transition: 0.3s ease;
}
